<!DOCTYPE html>
<html>
<head>
	{{ partial "head.html" . }}
</head>
<body>

	{{ partial "header.html" . }}

	{{ partial "global-header.html" .Site.Params.blog }}

	<main>
		{{ range .Data.Pages }}
		<div class="post-area">
			<a href="{{ .Permalink }}" class="bold">{{ .Title }}</a>
            <p class="post-date">{{ .Date.Format .Site.Params.dateFormat }}</p>
            <p> {{ .Params.author }}</p>
			<a href="{{ .Permalink }}"><p>{{ .Summary }}</p></a>
		</div>
		{{ end }}
	</main>

	{{ partial "footer.html" . }}

    {{ partial "tracking.html" . }}
</body>
</html>
