<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-6">
      <h2 class="text-uppercase">{{ .Site.Params.feature.title }}</h2>
      <p class="">
      	{{ .Site.Params.feature.content | markdownify }}
    </p>
      {{ with .Site.Params.feature.button }}
      	<a href="{{ .url }}" class="btn btn-view-works">{{ .caption }}</a>
      {{ end }}
    </div>
  </div>
</div>
</section>
