<!-- Service Start -->
<section id="nas-tym">
  <div class="container">

    <!-- Intro -->
        <h1>Náš tým</h1>

        <h2>Zastupitelé</h2>
        <div class="card-group">
            {{ range .Site.Data.nas_tym.team }}
              <div class="card">
                  {{ with .detail }}
                    <a href="./{{.}}/">
                  {{ end }}
                  <img src="/img/people/{{ .image }}" class="border border-success p-1 rounded-circle card-img-top">
                  {{ with .detail }}
                    </a>
                  {{ end }}
                  <div class="card-body">
                      {{ with .detail }}
                        <a href="./{{.}}/">
                      {{ end }}
                      <h4 class="card-title team-name">{{ .name }}</h4>
                      {{ with .detail }}
                        </a>
                      {{ end }}
                      <p class="card-text">
                          {{ .text }}
                          {{ with .link }}
                              <br />
                              <a href="{{.}}">Web</a>
                          {{ end }}
                          {{ with .fb }}
                              <br />
                              <a href="{{.}}">Facebook</a>
                          {{ end }}
                      </p>
                  </div>
              </div>
            {{ end }}
        </div>
        <div class="card-group">
            {{ range .Site.Data.nas_tym.team2 }}
              <div class="card">
                  {{ with .detail }}
                    <a href="./{{.}}/">
                  {{ end }}
                  <img src="/img/people/{{ .image }}" class="border border-success rounded-circle card-img-top">
                  {{ with .detail }}
                    </a>
                  {{ end }}
                  <div class="card-body p-2">
                      {{ with .detail }}
                        <a href="./{{.}}/">
                      {{ end }}
                      <h6 class="card-title">{{ .name }}</h6>
                      {{ with .detail }}
                        </a>
                      {{ end }}
                      <p class="card-text" style="line-height:1.25em;">
                          {{ .text }}
                          {{ with .link }}
                              <br />
                              <a href="{{.}}">Web</a>
                          {{ end }}
                          {{ with .fb }}
                              <br />
                              <a href="{{.}}">Facebook</a>
                          {{ end }}
                      </p>
                  </div>
              </div>
            {{ end }}
        </div>



        {{ .Content }}

    <!-- Content -->

  </div>
</section>
